<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.tencent.qcloud.deskcore.permission.DeskPermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/CoreActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name="com.tencent.qcloud.deskcore.util.PermissionRequester$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:launchMode="singleTask"
            android:theme="@style/CoreActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <provider
            android:name="com.tencent.qcloud.deskcore.ServiceInitializer"
            android:authorities="${applicationId}.TUIDeskCore.Init"
            android:initOrder="199988"
            android:enabled="true"
            android:exported="false"/>

    </application>
</manifest>